
/*-------------------------BANNER AYUDA-------*/

.banner6 {
    h1{
    color: $colorPrincipal;
	position: absolute;
	top: 40%;
	left:47.5%;
	transform: translate(-50%, -50%);
	font-family: 'Meie Script', cursive;
	font-size: 6.5rem;
    }
    }
	
/*--------------------- FIN BANNER AYUDA-------*/
/*--------------------- buscador AYUDA-------*/
.buscarDestino{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:50%;
    top: 100%;
    transform: translate(-50%, -50%);
    background: $colorPrincipal;
    padding: 10px;
    height: 80px;
    border-radius: 40px;
    .buscar_texto{
        border: none;
        background: none;
        outline: none;
        color: white;
        font-size: 20px;
        float: left;
        line-height: 60px;
        transition:.4s;
        width: 0px;
    }
    .botonDestinos{
        width: 40px;
        height: 40px;
        text-decoration: none;
        color: white;
        font-size: 30px;
        .icon-search {
            color: white;
            display: inline-block;
            &:hover{
                color: $colorTerciario;
            }
          }
    }
}
    
/*------------responsiveAYUDA----*/
@media screen and (max-width: 415px) and (min-width: 360px){
    .buscarDestino:hover > .buscar_texto{
        width: 190px;
    }
    .banner6 {
        h1{
        font-size: 45px;
        }
        }

}

@media screen and (max-width: 768px) and (min-width: 416px){
    .buscarDestino:hover > .buscar_texto {
        width: 300px;
    }
    .banner6 {
        h1{
        font-size: 4rem;
        }
        }
}
@media screen and (min-width:769px) {
    .buscarDestino:hover > .buscar_texto {
        width: 500px;
    }
}





  